html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #98A8B2;
  font-family: Tahoma, sans-serif;
}
body {
  padding-top: 50px;
}
.leaflet-popup-content-wrapper,.leaflet-popup-content
 {
   -webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
    border-radius: 0 !important;
 }
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
#sidebar {
  display: block;
  width: 250px;
  height: 100%;
  max-width: 100%;
  float: left;
}
td.aqi{
  width: 10%;
  height: 3%;
  color: black;
  padding: 2%;
  text-align: center;
  margin-right: 10%;
}
.table_row_aqi{
  width: 100%;
  font-size: 100%;
}
 .table_cell_aqi0 {
  padding: 7px;
  width: auto;
 }
 .table_cell_aqi1 {
  padding: 7px;
  text-align: right;
  width: auto;
  min-width: 20%;
  border-style: solid 5px black;
 }
 .table_cell_aqi2{
  padding: 7px;
  text-align: right;
  width: auto;
  min-width: 20%;
  border-style: solid 5px black;
 }
  .table_cell_name1{
  padding: 5px;
  text-align: left;
  width: auto;
  border-style: solid 5px black;
  font-weight: bold;
 }
  .table_cell_name2{
  padding: 5px;
  text-align: right;
  width: auto;
  border-style: solid 5px black;
  font-weight: bold;
 }
.aqi_table{
  width: auto;
  max-width: 45%;
  height: auto;
  position: fixed; 
  bottom: 2%; 
  left: 2%; 
  z-index: 99; 
  background-color: rgba(255,255,255,0.9);
  color: black;
  padding: 10px;
  border-radius: 2px;
  min-width: 15%;
  text-align: left;
  display: none;
  border-collapse:separate;
  border-spacing:2px 2px;
  font-size: 90%;

  margin: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#health{
  position: fixed;
  bottom: 2%;
  right: 5%;
  width: 40%;
  min-width: 25%;
  background-color: black;
  height: auto;
  padding: 10px;
  border-radius: 2px;
  display: none;
  overflow-y: auto;
  text-align: justify;
  font-weight: bold;

  margin: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#air_concerns{
  font-weight: normal;
}

#map {
  width: auto;
  height: 97%;
  /*box-shadow: 0 0 10px rgba(0,0,0,0.5);*/
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 20px;
}
#over_map { 
  width: auto;
  position: absolute; 
  top: 20%; 
  right: 0%; 
  z-index: 99; 
  background-color: rgba(255,255,255,0.9);
  color: black;
  padding: 10px;
  border-radius: 2px;
  min-width: 15%;
  display: none;
  text-align: left;

  display: none;
  margin: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#over_map:hover, .aqi_table:hover, #health:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#measures-table{
  cursor: pointer;
  border-collapse:separate;
  border-spacing: 0px 4px;
}
#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}
#sidebar-hide-btn {
  margin-top: -2px;
}
#aboutTabsContent {
  padding-top: 10px;
}
.progress-bar-full {
  width: 100%;
}
.white {
  color: #FFFFFF;
}
.panel-heading{
   width: 250px;
}
.panel-body{
  width: 250px;
}
.feature-row {
  cursor: pointer;
  width: 250px;
}
.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.sidebar-table {
  position: absolute;
  width: 100%;
  top: 103px;
  bottom: 0px;
  overflow: auto;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
.table {
  margin-bottom: 0px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: auto;
  padding: 15px;
  width: auto;
  margin-left: 15%;
}


.navbar-inverse {
  background-color: white;
  border-color: #48B9C9;
  border-bottom-width: 2px;
  height: 70px;
}


.navbar .navbar-brand {
  padding: 0px;
  font-weight: bold;
  font-size: 25px;
  color: black;
  background-color: white;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}
.typeahead {
  background-color: #FFFFFF;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  #sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}
